obj/
t/
eth/company/geth
eth/judge/geth
eth/enforcer/geth
eth/law/geth
eth/*.log
p
Judge/Judge
Company/Company
Enforcer/Enforcer
Law/Law
names.txt*
a.out
Company.log
Enforcer.log
Law.log
Judge.log
valgrind.out
*.o
*.txt
*.log
DB
test.db-journal
test_dummy.txt
test-out.txt
valgrind*
run-trial.sh
trials.sh
scripts/
results/
val-run.sh
dbstarter/test.db
